.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel_slides_container {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel_slide {
  margin: 0.5rem;
}

.info {
  display: flex;
  flex-direction: column;
}

.info > .info_title {
  text-overflow: ellipsis;
  width: 150px;
  line-height: 1;
  overflow: hidden;
  height: 1.25rem;
  white-space: nowrap;
}

.info_id {
  text-align: center;
}

.carousel_control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.carousel_left {
  left: 0;
}

.carousel_right {
  right: 0;
}
